{% extends 'activities/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container container-fluid home-block" style="max-width:1920px">
<div class="row">
 <div class="col-sm-2">
  {% if countries %}
    <h3><center>Change Country</center></h3>
   {% for country in countries %}
    <ul><a class="btn btn-success btn-block" href="/maptest/c{{ country.pk }}/">{{ country.name }}</a></ul>
   {% endfor %}
  {% elif provinces %}
    <h3><center>Change Region</center></h3>
   {% for province in provinces %}
    <ul><a class="btn btn-success btn-block" href="/maptest/c{{ country.pk }}/p{{ province.pk }}/">{{ province.name }}</a></ul>
   {% endfor %}
  {% elif crags %}
    <h3><center>Change Crag</center></h3>
   {% for crag in crags %}
    <ul><a class="btn btn-success btn-block" href="/maptest/c{{ country.pk }}/p{{ province.pk }}/cb{{ crag.pk }}">{{ crag.name }}</a></ul>
   {% endfor %}  
  {% endif %}
 </div>
 <div class="col-sm-10">
  <div class="row">
    <h2><center>Browsing Maps for {{ selected.name }}</center></h2>
  </div>
  <div class="row">
   {% if selected.photo %}
   <div class="col-sm-6">
    <img src="{{ selected.photo.url }}">
   </div>
   {% endif %}
   <div class="col-sm-6">
    <form method="post" enctype="multipart/form-data">
     <div class="row">
      {% csrf_token %}
      {{ map.media }}
      {{ map }}
     </div>
    </form>
   </div>
  </div>
  <div class="row">
   <div class="col-sm">
   {% if countries and provinces %}
    <h2>Areas Located in World>{{ selected.name }}>:</h2>
    {% for province in provinces %}
      <a href="p{{ province.pk }}/">{{ province.name }}</a><br>
    {% endfor %}
   {% elif provinces and crags%}
    <h2>Crags Located in World>{{ country.name }}>{{ selected.name }}:</h2>
    {% for crag in crags %}
      <a href="cb{{ crag.pk }}">{{ crag.name }}</a><br>
    {% endfor %}
   {% elif selected in crags %}
    <h2>Walls Located at World>{{ country.name }}>{{ province.name }}>{{ selected.name }}:</h2>
    {% for wall in walls %}
      <a href="w{{ wall.pk }}">{{ wall.name }}</a><br>
    {% endfor %}
   {% elif selected in walls %}
<table style="width:100%">
  <tr>
    <th>Difficulty</th>
    <th>Name</th>
    <th>Style</th>
    <th>Bolts</th>
    <th>Protection</th>
    <th>Height</th>
    <th>Rating</th>
    <th>Description</th>
  </tr>
  {% for route in routes %}
  <tr>
    <td>{{ route.difficulty }}</td>
    <td>{{ route.name }}</td>
    <td>{{ route.style }}</td>
    <td>{{ route.bolts }}</td>
    <td>{{ route.protection }}</td>
    <td>{{ route.height }}</td>
    <td>{{ route.rating }}</td>
    <td>{{ route.description }}</td>
  </tr>
  {% endfor %}
</table> 
   {% else %}
     No sub-regions found. Maybe you should be the first one to add one!
   {% endif %}
  </div>
  </div>
 </div>
</div>
</div>
{% endblock %}
