{% load static %}

<script src="{% static 'charts/assets/js/core.js' %}"></script>
<script src="{% static 'charts/assets/js/maps.js' %}"></script>
<script src="{% static 'charts/assets/js/worldUltra.js' %}"></script>
<script src="{% static 'charts/assets/js/moonrisekingdom.js' %}"></script>
<center>
<div id="activitymapdiv" style="height:480px"></div>
</center>

<script>
// Create map instance
am4core.useTheme(am4themes_moonrisekingdom);
var map = am4core.create("activitymapdiv", am4maps.MapChart);

map.maxZoomLevel = 4096*2;

// Create map definition
map.geodata = am4geodata_worldUltra;

// Set map projection
map.projection = new am4maps.projections.Miller();

// Set map series
var polygonSeries = new am4maps.MapPolygonSeries();
polygonSeries.useGeodata = true;
map.series.push(polygonSeries);

map.homeZoomLevel = 1024*4;
map.homeGeoPoint = {{ mapJSON.1|safe }};

var lineSeries = map.series.push(new am4maps.MapLineSeries());
lineSeries.data = [{
  "multiGeoLine": [
      {{ mapJSON.0|safe }}
  ]
}];

</script>



