{% load static %}


<!-- Styles -->
<script src="{% static 'charts/assets/js/core.js' %}"></script>
<script src="{% static 'charts/assets/js/charts.js' %}"></script>
<center>
<div class="row">
{% for key, timerange in charts.cycling.items %}
<div class="col-sm">
<div id="ride{{ key|safe }}chartdiv" style="height:400px"></div>
<script>
//am4core.ready(function() {

// Themes begin
//am4core.useTheme(am4themes_animated);

// Create chart instance
var chart = am4core.create("ride{{ key  }}chartdiv", am4charts.XYChart);

var title = chart.titles.create();
{% if key == "rollingseven" %}title.text = "Rolling 7 Day Distance (km)"{% endif %};
{% if key == "rollingthirty" %}title.text = "Rolling 30 Day Distance (km)"{% endif %};
{% if key == "rollingninety" %}title.text = "Rolling 90 Day Distance (km)"{% endif %};

title.fontSize = 25;
title.marginBottom = 30;

// Add data
chart.data = {{ timerange|safe }};

// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
//dateAxis.dataFields.category = "category";

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.valueY = "value";
series.dataFields.dateX = "date";
series.name = "Sales";

// Create scrollbars
chart.scrollbarX = new am4core.Scrollbar();
chart.scrollbarY = new am4core.Scrollbar();

</script>
</div>
{% endfor %}
</div>
</center>

