{% load static %}

<script src="{% static 'charts/assets/js/core.js' %}"></script>
<script src="{% static 'charts/assets/js/charts.js' %}"></script>
<center>
<div id="elevchartdiv" style="height:200px"></div>
</center>
<script>
// Create chart instance
var chart = am4core.create("elevchartdiv", am4charts.XYChart);

// Add data
chart.data = {{ chartJSON|safe }};

// Create axes
var categoryAxis = chart.xAxes.push(new am4charts.ValueAxis());
categoryAxis.dataFields.category = "distance";
categoryAxis.title.text = "Distance (km)";

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.title.text = "Elevation (m)";

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "elevation";
series.dataFields.valueX = "distance";
series.name = "Elevation";
series.columns.template.tooltipText = "Series: {name}\nCategory: {categoryX}\nValue: {valueY}";
series.columns.template.fill = am4core.color("#00ff00"); // fill

// And, for a good measure, let's add a legend
chart.legend = new am4charts.Legend();
</script>
