{% load static %}

<script src="{% static 'charts/assets/js/core.js' %}"></script>
<script src="{% static 'charts/assets/js/charts.js' %}"></script>
<center>
<div id="splitchartdiv" style="height:200px"></div>
</center>
<script>
// Create chart instance
var chart = am4core.create("splitchartdiv", am4charts.XYChart);

// Add data
chart.data = {{ splits|safe }}

// Create axes

var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "split";
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.renderer.minGridDistance = 30;

categoryAxis.renderer.labels.template.adapter.add("dy", function(dy, target) {
  if (target.dataItem && target.dataItem.index & 2 == 2) {
    return dy + 25;
  }
  return dy;
});

var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
valueAxis.min = 2;
valueAxis.max = 10;

// Create series
var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.valueX = "splittime";
series.dataFields.categoryY = "split";
series.name = "Split Times";
series.columns.template.tooltipText = "{categoryY}: [bold]{valueX} min/km[/]";
series.columns.template.fillOpacity = .8;

var columnTemplate = series.columns.template;
columnTemplate.strokeWidth = 2;
columnTemplate.strokeOpacity = 1;

</script>
