@font-face {
  font-family: Astro;
  src: url('https://beta.xhaust.me/static/activities/assets/fonts/Azonix.otf');
}

.section-banner-bold{
  background-color: #d52349;
  font-size: 3em;
  color: white;
}

.section-banner-medium{
  background-color: #d52349;
  font-size: 4em;
  color: white;
}

.footnote{
  font-size: 1em;
  font-family: Astro;
}

.home-block{
  background-color:white;
  max-width:30%;
}

.tilebox{
  max-width:1920px;
}

.navxhst{
  min-width:120px;
}

textarea{
width:100%;
height: 120px;
}

blabel{
visibility:hidden;
width: 0px;
height: 0px;
}

.main-steem-buttons{
  font-size: 2em;
  width:50px;
}

.comment-steem-buttons{
  width:28px;
  height: 28px;
  border-radius:100%;
  padding-left:5.5px;
  padding-top:5px;
  padding-right:5px;
  padding-bottom: 5px;
  border-style: none;
}

.comment-steem-icons{
  font-size:1em;
  width:16px;
  height:16px;
}

td{
  max-width:100%;
}

img{
  max-width:100%;
}

.main-steem-values{
  font-size: 1em;
  font-family: Astro;
  width: 76px;
}

.comment-steem-values{
  font-size: 0.75em;
  width: 54px;
}


h3{
  margin-left:10%;
  margin-right:10%;
  max-width:80%;
  font-size:1.2rem;
}

.comment-main{
  max-width:90%;
  margin-left:5%;
  margin-right:5%;
}

.comment-voters{
  margin-top:auto;
  margin-bottom:auto;
  max-width:25px;
  padding-left:0;
  padding-right:0;
}

.activity-feed-item{
  border-style:solid;
  max-height:140px;
  border-radius:10px;
}

.activity-feed-image{
  max-width:140px;
  max-height:130px;
  border-radius:5px
}

.summary-feed-item{
  border-style:solid;
  border-radius:10px;
  max-height:450px;
}

.media-body{
  padding-left:1%;
  padding-top:5px;
}

.dashnav{
  color: #d52349;
  font-family: Astro;
  font-size: 1.5em;
}

.dashnav-disabled{
  color: grey;
  font-family: Astro;
  font-size: 1.5em;
}

.activity-highlights{
  font-family: Astro;
  font-size: 2.0em;
}
