{% extends 'activities/base.html' %}
{% load md2 %}
{% load steemops %}

{% block content %}

<!-- Article -->
<div class="container container-fluid home-block">
 <div class="row tile720" style="padding-top:10px">
  <div class="col section-banner-bold">
    <center>{{ title }}, by @{{ author }}</center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
   <div class="col">
    {{ soup|safe }}
{% include 'activities/mainPerformance.html' %}
  <h4>SHOUT-OUTS!</h4>
  {% for reply in replies %}

  <div class="media" style="padding-right:25px;border-style:solid;border-radius:20px">
   <a href="/@{{ reply.author }}/">
    <img class="mr-3" src="{{ reply.author|grab_avatar }}" alt="avatar" height="64" style="max-width:64px;max-height:64px;border-radius:25%">
   </a>
   <div class="media-body">
    <h5 class="mt-0">
    <a href="/@{{ reply.author }}/" style="color:black;font-size:1.25em">@{{ reply.author }}: </a><br>
    </h5>
   {{ reply.body|markdown }}
   </div>
  </div><br>

  {% endfor %}

<script src="https://kit.fontawesome.com/0797c9cc41.js"></script>
   </div>
 </div>
</div>

  
{% endblock %}
