{% load static %}

<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>EXHAUST</title>
        <link rel="stylesheet" href="{% static 'activities/assets/css/xhst.css' %}">
        <link href="{% static 'activities/assets/css/tagsinput.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--	<link rel="stylesheet" href="EXHAUST_files/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    </head>
    <body style="max-width:100%;background-color:white">
<!-- Login Modal -->
{% include 'activities/loginModal.html' %}
<!-- Banner -->
        <div class="container container-fluid" style="background-color:white;min-width:100%">
	    <center><img src="/media/xhstbanner.jpeg"></center>
        </div>

<!-- NavBar -->
	<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #d52349;opacity:0.9">
	  <a class="navbar-brand" href="https://xhaust.me/">
	    <img src="/media/XHSTlogo.png" width="48" height="48">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">           
	      <li class="nav-item dropdown active navxhst">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Feed
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/feed/all/">All</a>
	          <div class="dropdown-divider"></div>
                  <a class="dropdown-item disabled" href="/feed/climbing/">Climbing</a>
	          <a class="dropdown-item" href="/feed/cycling/">Cycling</a>
	          <a class="dropdown-item" href="/feed/hiking/">Hiking</a>
                  <a class="dropdown-item" href="/feed/running/">Running</a>
                  <a class="dropdown-item" href="/feed/strength/">Strength</a>
                  <a class="dropdown-item" href="/feed/yoga/">Yoga</a>
	        </div>
	      </li>
              <li class="nav-item dropdown navxhst">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Explore
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item disabled" href="#">Collect</a>
                  <a class="dropdown-item" href="/leaderboards/">Compare</a>
                  <a class="dropdown-item disabled" href="#">Compete</a>
		  <a class="dropdown-item disabled" href="#">Discover</a>
		  <a class="dropdown-item disabled" href="#">Socialize</a>
                  <a class="dropdown-item disabled" href="#">Train</a>
                </div>
              </li>
	      <input class="form-control mr-sm-2" id="xhst_user_name" type="search" placeholder="Lookup by Username" aria-label="Search">
              <button id="xhst_user_search" class="btn btn-outline-dark btn-light my-2 my-sm-0" type="submit">SEARCH</button>
	    </ul>
	
	<!-- Button trigger modal -->
        {% if user.is_authenticated %}
      
       <ul class="navbar-nav">
        <li class="nav-item dropdown navxhst">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ user.userprofile.avatar }}" width="64" height="64" style="border-radius:50%;border-style:double;margin-right:5px;border-color:yellow;border-width:5px">
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/dashboard/">Dashboard</a>
          <a class="dropdown-item" href="/@{{ user.username }}/">Profile</a>
          <a class="dropdown-item" href="/upload/">Log Activity</a>
          <a class="dropdown-item" href="/blog/">Blog</a>
         </div>
        </li>
       </ul>
        <a class="btn btn-dark my-2 my-sm-0" href="/logout/">
          LOGOUT
        </a>
        {% else %}
	<button type="button" class="btn btn-outline-dark my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalLong">
	  LOGIN
	</button>
        {% endif %}

	
	  </div>
	</nav>

{% block content %}
{% endblock %}

<footer class="footer mt-auto py-3" style="background-color:black;max-width:100%">
 <div class="container container-fluid home-block" style="background-color:black">
  <div class="row">
   <div class="col section-banner-medium">
    <center>Daily Newsletter Posts</center>
   </div>
  </div>
{% for news in newsletters %}
  <div class="media" style="padding-left:25px;padding-right:25px">
   <a href="/exhaust/@exhaust/{{ news.url }}">
    <img class="mr-3 rounded" src="/media/xhstbanner.jpeg" alt="Generic placeholder image" height="64">
   </a>
   <div class="media-body" style="background-color:grey">
    <h5 class="mt-0"><a href="/exhaust/@exhaust/{{ news.permlink }}" style="color:#d52349;font-size:1.5em">{{ news.title }}</a></h5>
   </div>
  </div>
  <br>
{% endfor %}
<img src="/media/strava/api/compatible/cmpt_horiz_light.png">
 </div>
</footer>

        <script src="{% static 'keychain/assets/js/jquery.js' %}"></script>
        <script src="{% static 'activities/assets/js/tagsinput.js' %}"></script>
        <script src="{% static 'activities/assets/js/xhstmain.js' %}"></script>
        <script src="{% static 'keychain/assets/js/main.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    

</body></html>
