{% extends 'activities/base.html' %}
{% load steemops %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Article -->
<div class="container container-fluid home-block">
  <div class="row tile720" style="padding-top:10px">
   <div class="col section-banner-bold">
    Write a Blog Post!
   </div>
  </div>
  <div class="row tile720" style="padding-top:10px">
   <div class="col" enctype="multipart/form-data">
    {{ titleform|crispy }}
    {{ postform|crispy }}
    {{ postform.media }}
    <hr>
    {{ tagform|crispy }}
    <input type="hidden" id="comment_author" name="comment_author" value="{{ user.username }}">
    <input type="hidden" id="comment_perm" name="comment_perm" value="{{ user.username }}-post-{{ stamp }}">
    <input type="hidden" id="post_pperm" name="post_pperm" value="exhaust">
    <input type="hidden" id="post_pauthor" name="post_pauthor" value="">
   </div>
  </div><br>
  <div class="row tile720" style="padding-top:10px">
    <div class="col">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="post_blog" class="btn btn-success">Confirm</button>
    </div>
  </div>
</div>

  
{% endblock %}
