<script>
// Update vote on slider timeout:
$('#{{ reply.permlink }}commenter').on('change', function(event){
    event.preventDefault();
    console.log("Comment Input Detected!")  // sanity check
    var text = $('#{{ reply.permlink }}id_commentbody').val();
    $("#{{ reply.permlink }}comment_body").val(text);
});

// SliderForms

// Update vote on slider timeout:
$('#{{ reply.permlink }}upvote-slider').on('change', function(event){
    event.preventDefault();
    console.log("Change Detected!")  // sanity check
    {{ reply.permlink }}get_upvote_value();
});


// AJAX for grabbing vote weight
function {{ reply.permlink }}get_upvote_value() {
    console.log("Grabbing vote numbers") // sanity check
    console.log($('#id_upvote').val());
    $.ajax({
        url : "/votecalc/", // the endpoint
        type : "POST", // http method
        data : { weight : $('#id_upvote').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#{{ reply.permlink }}upweight").text(json.weight+"% VOTE = ");
            $("#{{ reply.permlink }}upvalue").text(json.weightvalue+" SBD");
            $("#{{ reply.permlink }}upvote_weight").val(json.weight*100);
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};


// Update vote on slider timeout:
$('#downvote-slider').on('change', function(event){
    event.preventDefault();
    console.log("Change Detected!")  // sanity check
    get_downvote_value();
});

// AJAX for grabbing vote weight  
function get_downvote_value() {
    console.log("Grabbing vote numbers") // sanity check
    console.log($('#id_downvote').val());
    $.ajax({
        url : "/votecalc/", // the endpoint
        type : "POST", // http method
        data : { weight : $('#id_downvote').val() }, // data sent with the post request

        // handle a successful response   
        success : function(json) {
            console.log(json); // log the returned json to the console
            $("#downweight").text(json.weight+"% VOTE = ");
            $("#downvalue").text("-"+json.weightvalue+" SBD");
            $("#downvote_weight").val(json.weight*-100);
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};



</script>
