{% include 'activities/commentModals.html' %}

  <div class="row">
   <div class="col">
    <center>
     <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-info my-2 my-sm-0" data-toggle="modal" data-target="#{{ reply.permlink }}payoutComment">
       <i class="fas fa-money-bill-wave comment-steem-buttons"></i>
      </button>
     {% if voted > 0 %}
      <button type="button" class="btn btn-success my-2 my-sm-0" data-toggle="modal" data-target="#{{ reply.permlink }}upvoteComment">
     {% else %}
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#{{ reply.permlink }}upvoteComment">
     {% endif %}
       <i class="fas fa-arrow-alt-circle-up comment-steem-buttons"></i>
      </button>
     {% if voted < 0 %}
      <button type="button" class="btn btn-danger my-2 my-sm-0" data-toggle="modal" data-target="#{{ reply.permlink }}downvoteComment">
     {% else %}
      <button type="button" class="btn btn-outline-danger my-2 my-sm-0" data-toggle="modal" data-target="#{{ reply.permlink }}downvoteComment">
     {% endif %}
       <i class="fas fa-arrow-alt-circle-down comment-steem-buttons"></i>
      </button>
     {% if request.user.username in commenters %}
      <button type="button" class="btn btn-dark my-2 my-sm-0" data-toggle="modal" data-target="#{{ reply.permlink }}commentComment">
     {% else %}
      <button type="button" class="btn btn-outline-dark my-2 my-sm-0" data-toggle="modal" data-target="#{{ reply.permlink }}commentComment">
     {% endif %}
       <i class="fas fa-comment comment-steem-buttons"></i>
      </button>
     </div>
    </center>
   </div>
  </div>
  <div class="row">
   <div class="col">
   <center>
    <div class="btn-group" role="group" aria-label="Basic example">
     <p class="comment-steem-values">{{ reply.reward }}</p>
     <p class="comment-steem-values">{{ reply.get_votes|length }}</p>
     <p class="comment-steem-values">{{ reply.get_votes|length }}</p>
     <p class="comment-steem-values">{{ reply.get_replies|length }}</p>
    </div>
   </center>
  </div>
 </div>
