<div class="modal fade" id="upvoteComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Upvote</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
                        <center>Select Vote Weight:<br>(Default = 100%)</center>
                        <div id="upvote-sliderComment">
                                <center>{{ upslider }}</center>
                        </div>
<!--                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>-->
                        <div id="weight_infoComment">
                                <center><b id="upweightComment"></b><b id="upvalueComment"></b></center>
                        </div>
<input type="hidden" id="upvote_usernameComment" name="upcast" value="{{ user.username }}">
<input type="hidden" id="upvote_permComment" name="upperm" value="">
<input type="hidden" id="upvote_authorComment" name="upauth" value="">
<input type="hidden" id="upvote_weightComment" name="upweight" value="100">
    <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="upvoteComment" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downvoteComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Downvote</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
                        <center>Select DownVote Weight:<br>(Default = 100%)</center>
                        <div id="downvote-sliderComment">
                                <center>{{ downslider }}</center>
                        </div>
<!--                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>-->
                        <div id="weight_infoComment">
                                <center><b id="downweightComment"></b><b id="downvalueComment"></b></center>
                        </div>
<input type="hidden" id="downvote_usernameComment" name="downcast" value="{{ user.username }}">
<input type="hidden" id="downvote_permComment" name="downperm" value="">
<input type="hidden" id="downvote_authorComment" name="downauth" value="">
<input type="hidden" id="downvote_weightComment" name="downweight" value="100">

    <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="downvoteComment" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="commentComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Reply to @{{ reply.author }}</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" id="comment_authorComment" name="comment_author" value="{{ user.username }}">
        <input type="hidden" id="comment_titleComment" name="comment_title" value="">
        <input type="hidden" id="comment_bodyComment" name="comment_body" value="comment body">
        <input type="hidden" id="comment_permComment" name="comment_perm" value="xhst-comment-{{ stamp }}">
        <input type="hidden" id="post_ppermComment" name="post_perm" value="parent permlink">
        <input type="hidden" id="post_authorComment" name="pos_author" value="parent author">
        <input type="hidden" id="act_idComment" name="activity_id" value="{{ activity.pk }}">

<!--        <input type="text hidden" id="post_json" name="post_json" value="app:'exhaust-beta'">-->
        <div id="{{ reply.permlink }}commenter">
          {{ commentform }}
         <br>
          {{ commentform.media }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="{{ reply.permlink }}reply" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>
