{% extends 'activities/base.html' %}
{% load steemops %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Article -->

<div class="container container-fluid home-block" style="max-width:1920px">
  <div class="row tile720">
   <div class="col section-banner-bold">
    DASHBOARD
   </div>
  </div>
  <div class="row tile720" style="padding-top:10px">
   <div class="col-sm-3">
    <center><img src="{{ user.userprofile.avatar }}" width="120" height="120"></center>
   </div>
   <div class="col-sm-9">
    <center>
        <a id="dash_toggle_recent" class="btn btn-success" href="#">RECENT ACTIVITIES</a>
        <a id="dash_toggle_reports" class="btn btn-secondary" href="#">REPORTS</a>
        <a id="dash_toggle_cheevos" class="btn btn-secondary" href="#">ACHIEVEMENTS</a>
        <a id="dash_toggle_calendar" class="btn btn-secondary" href="#">TRAIN AND PLAN</a>
        <a id="dash_toggle_friends" class="btn btn-secondary" href="#">FRIENDS</a>
        <a id="dash_toggle_settings" class="btn btn-light" href="#">SETTINGS</a>
        <a id="dash_toggle_wallet" class="btn btn-secondary" href="#">WALLET</a>
    </center>
   </div>
  </div>
<!--SETTINGS TAB-->
  <div id="dash_content_settings" class="row tile720" style="padding-top:10px;display:none">
    <!-- SIDEBAR -->
    <div id="dash_side_settings" class="col-sm-2">
    <center>
     <ul><a id="dash_accounts_toggle" class="btn btn-primary btn-block" href="#">SYNC ACCOUNTS</a></ul>
     <ul><a id="dash_preferences_toggle" class="btn btn-primary btn-block" href="#">PREFERENCES</a></ul>
<!--     <ul><a id="dash_settings_privacy" class="btn btn-primary btn-block" href="#">PRIVACY</a></ul>
     <ul><a id="dash_settings_api" class="btn btn-danger btn-block" href="">MY API KEY</a></ul>-->
    </center>
    </div>
    <!-- BODY -->
    <div id="dash_settings_accounts" class="col-sm-10">
     <p>We're working on supporting various 3rd party sports tracking sites. More to come. Give us a shout in one of our newsletter posts if there's a service you use, that you'd like us to try to support!</p>
     <ul><a id="sync_strava" href="{{ strava }}"><img src="/media/strava/connect/orange.png"></a></ul>
<!--     <ul><a id="sync_strava" class="btn btn-primary" href="{{ polar }}">SYNC POLARFLOW</a></ul>
     <ul><a id="sync_strava" class="btn btn-primary" href="{{ nike }}">SYNC NIKE</a></ul>-->
    </div>
    <div id="dash_settings_preferences" class="col-sm-10" style="display:none">
     <form method="post" enctype="mltipart/form-data">
       {% csrf_token %}
       {{ user_settings|crispy }}
       <input type="submit" class="btn btn-success" value="Update Preferences">
     </form>
    </div>
  </div>


<!--RECENT ACTIVITIES -->
  <div id="dash_content_recent" class="row tile720" style="padding-top:10px;display:flex">
    <div id="dash_side_recent" class="col-sm-2">
     <center>
      <ul><a id="dash_recent_all" class="btn btn-success btn-block" href="#">ALL</a></ul>
      <ul><a id="dash_recent_running" class="btn btn-success btn-block" href="#">RUNNING</a></ul>
      <ul><a id="dash_recent_cycling" class="btn btn-success btn-block" href="#">CYCLING</a></ul>
      <ul><a id="dash_recent_hiking" class="btn btn-success btn-block" href="#">HIKING</a></ul>
      <ul><a id="dash_recent_yoga" class="btn btn-success btn-block" href="#">YOGA</a></ul>
      <ul><a id="dash_recent_strength" class="btn btn-success btn-block" href="#">STRENGTH</a></ul>
      <ul><a id="dash_recent_climbing" class="btn btn-success btn-block" href="#">CLIMBING</a></ul>
     </center>
    </div>
    <div id="dash_main_recent" class="col-sm-10" style="display:flex">
     OVERALL SUMMARY COMING SOON! CHECK OUT INDIVIDUAL ACTIVITY TYPES FOR NOW!
    </div>
    <div id="dash_running_stats" class="col-sm-10" style="display:none">
    {% include 'charts/dashboard_stats_running.html' %}
    </div>
    <div id="dash_cycling_stats" class="col-sm-10" style="display:none">
    {% include 'charts/dashboard_stats_cycling.html' %}
    </div>
    <div id="dash_hiking_stats" class="col-sm-10" style="display:none">
    {% include 'charts/dashboard_stats_hiking.html' %}
    </div>
  </div>

<!--REPORT GENERATORS -->
  <div id="dash_content_report" class="row tile720" style="padding-top:10px;display:none">
    <div id="dash_side_report" class="col-sm-2">
     <center>
<!--      <ul><a id="dash_report_all" class="btn btn-success btn-block" href="#">ALL</a></ul>-->
      <ul><a id="dash_report_running" class="btn btn-success btn-block" href="#">RUNNING</a></ul>
{% csrf_token %}
<input type="hidden" id="activitytype" name="atype" value="running">
<input type="hidden" id="timeframe" name="tframe" value="ninetyday">

      <ul><a id="dash_report_cycling" class="btn btn-success btn-block" href="#">CYCLING</a></ul>
      <ul><a id="dash_report_hiking" class="btn btn-success btn-block" href="#">HIKING</a></ul>
<!--      <ul><a id="dash_report_yoga" class="btn btn-success btn-block" href="#">YOGA</a></ul>
      <ul><a id="dash_report_strength" class="btn btn-success btn-block" href="#">STRENGTH</a></ul>
      <ul><a id="dash_report_climbing" class="btn btn-success btn-block" href="#">CLIMBING</a></ul>-->
     </center>
    </div>
    <div id="dash_info_reports" class="col-sm-10" style="display:flex">
     Choose your activity and timerange!
    </div>
    <div id="dash_main_reports" class="col-sm-10" style="display:none">
     <div class="col" enctype="multipart/form-data">
      {{ titleform|crispy }}
      {{ reportform|crispy }}
      {{ reportform.media }}
      <hr>
     </div>
    </div>
  </div>

</div>

  
{% endblock %}
