{% extends 'activities/base.html' %}

{% load markdownify %}
{% load md2 %}
{% load static %}
{% load mathfilters %}
{% load steemops %}

{% block content %}

{% if not user.username == activity.user.username %}
  {{ user }} does not own this activity, by {{ activity.user.username }}
{% else %}
<!-- Article -->
<div class="container container-fluid home-block">
 <div class="row tile720" style="padding-top:10px">
  <div class="col section-banner-bold">
    <center>{{ activity.title }}, by @{{ activity.user.username }}</center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
  {% if activity.type.type == 'running' or activity.type.type == 'cycling' or activity.type.type == 'hiking' %}
  <div class="col-sm" style="font-size:1.5em">
   <i class="fas  fa-road"></i>{{ activity.distance|div:1000 }} km
  </div>
  {% elif activity.type.type == 'climbing' %}
  <div class="col-sm" style="font-size:1.5em">
   <i class="fas  fa-route"></i>{{ climbing_data.climbing.routes_climbed }}
  </div>
  {% endif %}
  <div class="col-sm" style="font-size:1.5em">
   <i class="fas  fa-stopwatch"></i>{{ activity.duration|intdiv:60 }} minutes
  </div>
  <div class="col-sm" style="font-size:1.5em">
   <i class="fas  fa-calendar"></i>{{ activity.date|date }}
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
   <div class="col-sm-6">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% if 'gif' in activity.photo.url %}
      <img class="d-block w-100" src="https://xhaust.me{{ activity.photo.url }}" alt="gif detected">
      {% else %}
      <img class="d-block w-100" src="https://steemitimages.com/640x480/https://xhaust.me{{ activity.photo.url}}" alt="First slide">
      {% endif %}
    </div>
{% if activity.photo2 %}
    <div class="carousel-item">
      <img class="d-block w-100" src="https://steemitimages.com/640x480/https://xhaust.me{{ activity.photo2.url}}" alt="Second slide">
    </div>
{% endif %}
{% if activity.photo3 %}
    <div class="carousel-item">
      <img class="d-block w-100" src="https://steemitimages.com/640x480/https://xhaust.me{{ activity.photo3.url}}" alt="Third slide">
    </div>
{% endif %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--    <img src="https://steemitimages.com/640x480/https://beta.xhaust.me{{ activity.photo.url}}">-->
   </div>
   <div class="col-sm-6">
    MAP
   </div>
 </div><hr>
 <div class="row tile720" style="padding-top:10px">
   <div class="col">
    <h3>Activity Notes:</h3>
    {{ activity.comments }}
   </div>
 </div>
    <hr>
    {% if activity.gpsfile or activity.json_data %}
    {% if activity.type.type == "running" %}
        {% include 'charts/pacechart.html' %}<br>
        {% include 'charts/elevchart.html' %}
    {% elif activity.type.type == "cycling" %}
        {% include 'charts/speedchart.html' %}<br>
        {% include 'charts/elevchart.html' %}
    {% endif %}
    <hr>
    {% endif %}
 <div class="row tile720 align-items-center" style="margin-top:10px;margin-bottom:10px">
    <div class="col col-sm-3">
     <center><button class="btn btn-danger btn-sm" type="delete" id="xhst_delete" data-toggle="modal" data-target="#deleteModal">Delete Activity</button></center>
    </div>
    <div class="col col-sm-3">
    </div>
    <div class="col col-sm-3">
     <center><button class="btn btn-primary btn-lg btn-block" type="delete" id="xhst_edit" data-toggle="modal" data-target="#editModal">Edit Some Details</button></center>
    </div>
    <div class="col col-sm-3">
     <center><button class="btn btn-success btn-lg btn-block" type="preview" id="xhst_preview" data-toggle="modal" data-target="#previewModal">Preview Post and Submit</button></center>
    </div>
 </div>


<script src="https://kit.fontawesome.com/0797c9cc41.js"></script>

   </div>
 </div>
</div>

{% include 'activities/editModals.html' %}
{% endif %}
  
{% endblock %}
