{% load crispy_forms_tags %}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Delete Activity</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
                                <center><b>Are you sure?</b></center>
<input type="hidden" id="activity_id" value="{{ activity.pk }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="act_delete" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Preview and Submit</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
       {{ postform }}
       {{ postform.media }}
       <hr>
       {{ tagform|crispy }}
      </div>
      <div class="modal-footer">
        <input type="hidden" id="comment_author" name="comment_author" value="{{ activity.user.username }}">
        <input type="hidden" id="post_title" name="comment_title" value="{{ activity.title }}">
        <input type="hidden" id="comment_perm" name="comment_perm" value="xhst-activity-{{ stamp }}">
        <input type="hidden" id="post_pperm" name="post_pperm" value="exhaust">
        <input type="hidden" id="post_pauthor" name="post_pauthor" value="">
        <input type="hidden" id="act_id" name="activity_id" value="{{ activity.pk }}">

        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="post_activity" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Edit Acivity Details</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    <form action="/activities/{{ activity.pk }}/" method="post" enctype="multipart/form-data">
      <div class="modal-body">
 {% csrf_token %}
      <input type="hidden" value="{{ activity.pk }}" id="activity_id">
       {{ activityform|crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <input class="btn btn-success" type="submit" value="Confirm">
      </div>
    </form>
    </div>
  </div>
</div>


