{% extends 'activities/base.html' %}

{% block content %}

{% load mathfilters %}
<!-- Article -->
<div class="container container-fluid home-block" style="min-width:75%">
 <div class="row tile720">
  <div class="col section-banner-bold" style="color:black;border-style:solid">
    <center>RECENT ACTIVITIES by:</center>
  </div>
 </div>
 <div class="row tile720">
  <div class="col-sm">
   <center><a id="feed_toggle_all" class="btn btn-success" href="#">Everone</a></center>
  </div>
  <div class="col-sm">
   <center><a id="feed_toggle_following" class="btn btn-success" href="#">People I follow</a></center>
  </div>
<!--  <div class="col-sm">
   <center><a id="feed_toggle_followers" class="btn btn-success" href="#">People that follow me.</a></center>
  </div>-->
 </div>

<!-- Feed of all activities -->
 <div class="row tile720" id="feed_content_all" style="padding-top:10px;display:flex">
   <div class="col">
   {% for entry in feed_recent|slice:25 %}
  <div class="media" style="padding-right:25px;border-style:solid;border-radius:20px">
   <a href="/activities/{{ entry.pk }}/">
    {% if 'gif' in entry.photo.url %}
    <img class="mr-3" src="https://xhaust.me{{ entry.photo.url }}" alt="gif" height="64" style="max-width:320px;border-radius:17px; min-height:100px">
    {% else %}
    <img class="mr-3" src="https://steemitimages.com/240x0/https://beta.xhaust.me{{ entry.photo.url }}" alt="Generic placeholder image" height="64" style="max-width:320px;border-radius:17px; min-height:100px">
    {% endif %}
   </a>
   <div class="media-body">
    <h5 class="mt-0">
    <a href="/@{{ entry.user.username }}/" style="color:black;font-size:1.7em">@{{ entry.user.username }}: </a><a href="/activities/{{ entry.pk }}/" style="color:#d52349;font-size:1.5em">{{ entry.title }}</a><br>
    {{ entry.distance|div:1000 }} km; {{ entry.duration|intdiv:60 }} minutes, {{ entry.rewards }} SBD
    </h5>
   {{ entry.comments|truncatechars:280 }}
   </div>
  </div><br>
   {% endfor %}
   </div>
 </div>


<!-- Feed of activities by account the user follows -->
 <div class="row tile720" id="feed_content_following" style="padding-top:10px;display:none">
   <div class="col">
   {% for entry in feed_following_recent|slice:25 %}
  <div class="media" style="padding-right:25px;border-style:solid;border-radius:20px">
   <a href="/activities/{{ entry.pk }}/">
    {% if 'gif' in entry.photo.url %}
    <img class="mr-3" src="https://xhaust.me{{ entry.photo.url }}" alt="gif" height="64" style="max-width:320px;border-radius:17px; min-height:100px">
    {% else %}
    <img class="mr-3" src="https://steemitimages.com/240x0/https://beta.xhaust.me{{ entry.photo.url }}" alt="Generic placeholder image" height="64" style="max-width:320px;border-radius:17px; min-height:100px">
    {% endif %}
   </a>
   <div class="media-body">
    <h5 class="mt-0">
    <a href="/@{{ entry.user.username }}/" style="color:black;font-size:1.7em">@{{ entry.user.username }}: </a><a href="/activities/{{ entry.pk }}/" style="color:#d52349;font-size:1.5em">{{ entry.title }}</a><br>
    {{ entry.distance|div:1000 }} km; {{ entry.duration|intdiv:60 }} minutes, {{ entry.rewards }} SBD
    </h5>
   {{ entry.comments|truncatechars:280 }}
   </div>
  </div><br>
   {% endfor %}
   </div>
 </div>


<script src="https://kit.fontawesome.com/0797c9cc41.js"></script>
</div>

  
{% endblock %}
