{% extends 'activities/base.html' %}

{% block content %}
{% load mathfilters %}
<!-- This is some kind of "splash dealy" -- consider reinstating w/ banner from blog author-->
<div class="jumbotron jumbotron-fluid" style="background-image: url(/media/bg.png); background-size:cover; background-position: center center;margin-bottom:0px">
 <div class="container" style="padding-top:100px;padding-bottom:100px;background-color:#231f20;max-width:500px;opacity:0.9">
{% if user.is_authenticated %}
  <h1 style="color:white"><center>Welcome back, @{{ user }}</center></h1>
  <h2 style="color:#d52349"><center>We Missed You</center></h2>
{% else %}
  <h1 style="color:white"><center>Welcome to EXHAUST!</center></h1>
  <h2 style="color:#d52349"><center>A Friendly Place to Try Hard</center></h2>
{% endif %}

 </div>
</div>

<!-- Leader Cards" -->
<div class="container container-fluid home-block">
 <div class="row tile720">
  <div class="col section-banner-bold">
    <center>Weekly Leaders</center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
  <div class="col-sm">
 <h2><center>RUNNERS</center></h2><br>
  </div>
 </div>
 <div class="row tile720" style="">
  <div class="col-sm">
     <b>Most Activities Shared</b>
     {% for leader in leaders.0 %}
	<div class="row">
      @{{ leader.user.username }} - {{ leader.WTDcount }}
        </div>
     {% endfor %}
  </div>
  <div class="col-sm">
     <b>Most Distance Travelled</b>
     {% for leader in leaders.1 %}
        <div class="row">
      @{{ leader.user.username }} - {{ leader.WTDdist|div:1000 }} km
        </div>
     {% endfor %}
  </div>
  <div class="col-sm">
     <b>Most Time Spent Moving</b>
     {% for leader in leaders.2 %}
        <div class="row">
      @{{ leader.user.username }} - {{ leader.WTDtime|intdiv:60 }} minutes
        </div>
     {% endfor %}
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
  <div class="col-sm">
  <h2><center>CYCLISTS</center></h2><br>
  </div>
 </div>
 <div class="row tile720" style="">
  <div class="col-sm">
     <b>Most Activities Shared</b>
     {% for leader in leaders.3 %}
        <div class="row">
      @{{ leader.user.username }} - {{ leader.WTDcount }}
        </div>
     {% endfor %}
  </div>
  <div class="col-sm">
     <b>Most Distance Travelled</b>
     {% for leader in leaders.4 %}
        <div class="row">
      @{{ leader.user.username }} - {{ leader.WTDdist|div:1000 }} km
        </div>
     {% endfor %}
  </div>
  <div class="col-sm">
     <b>Most Time Spent Moving</b>
     {% for leader in leaders.5 %}
        <div class="row">
      @{{ leader.user.username }} - {{ leader.WTDtime|intdiv:60 }} minutes
        </div>
     {% endfor %}
  </div>
 </div>


<!-- Good Reads -->
 <div class="row tile720" style="padding-top:10px">
  <div class="col section-banner-bold">
    <center>Good Reads</center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
 {% for entry in resteems %}
  <div class="col-sm-4">
   <div class="card">
    <img src="https://steemitimages.com/640x480/{{ entry.img_url }}" class="card-img-top" alt="{{ entry.img_url }}">
    <div class="card-body">
     <h5 class="card-title">{{ entry.title }}</h5>
     <p class="card-text">By, @{{ entry.author }}</p>
     <a href="{{ entry.parent_permlink }}/@{{ entry.author }}/{{ entry.permlink }}" class="btn btn-primary">Read More</a>
    </div>
   </div>
  </div>
 {% endfor %}
 </div>
  

<!-- XHAUST Blog -->
 <div class="row tile720" style="padding-top:10px">
  <div class="col section-banner-bold">
    <center>Exhaust Blogs</center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
     {% for blog in blogs %}
  <div class="col-sm-4">
   <div class="card">
     {% if "gif" not in blog.img_url %}
     <img src="https://steemitimages.com/640x480/{{ blog.img_url }}" class="card-img-top" alt="{{ blog.img_url }}">
     {% else %}
     <img src="{{ blog.img_url }}" class="card-img-top" alt="{{ blog.img_url }}">
     {% endif %}
     <div class="card-body">
       <h5 class="card-title">{{ blog.title }}</h5>
       <p class="card-text">By, @{{ blog.author }}</p>
       <a href="{{ blog.parent_permlink }}/@{{ blog.author }}/{{ blog.permlink }}" class="btn btn-primary">Read More</a>
     </div>
   </div>
  </div>
     {% endfor %}
 </div>
</div>

{% endblock %}
