{% extends 'activities/base.html' %}
{% load md2 %}

{% block content %}

<!-- Article -->
<div class="container container-fluid home-block">
 <div class="row tile720" style="padding-top:10px">
  <div class="col section-banner-bold">
    <center>LEADERBOARDS</center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
   <div class="col-sm-4">
    <center><a id="running_charts" class="btn btn-success" href="#">Running Leaders</a></center>
   </div>
   <div class="col-sm-4">
    <center><a id="cycling_charts" class="btn btn-success" href="#">Cycling Leaders</a></center>
   </div>
   <div class="col-sm-4">
    <center><a id="hiking_charts" class="btn btn-success" href="#">Hiking Leaders</a></center>
   </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
   <div class="col-sm-3">
    <center><a id="weekly_charts" class="btn btn-success" href="#">Weekly Leaders</a></center>
   </div>
   <div class="col-sm-3">
    <center><a id="monthly_charts" class="btn btn-success" href="#">Monthly Leaders</a></center>
   </div>
   <div class="col-sm-3">
    <center><a id="yearly_charts" class="btn btn-success" href="#">Yearly Leaders</a></center>
   </div>
   <div class="col-sm-3">
    <center><a id="alltime_charts" class="btn btn-success" href="#">All-Time Leaders</a></center>
   </div>
 </div>
 <div id="runcharts" class="row tile720" style="padding-top:10px;display:block">
  <div id="runWTD" class="col-sm" style="display:block">
   <div class="row">
    <div class="col">
    <center><h2>Week-to-Date Running Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row">
    <div class="col">
    {% include 'charts/runleaderchartWTD.html' %}
    </div>
   </div>
  </div>
  <div id="runMTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>Month-to-Date Running Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/runleaderchartMTD.html' %}
    </div>
   </div>
  </div>
  <div id="runYTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">

    <center><h2>Year-to-Date Running Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/runleaderchartYTD.html' %}
    </div>
   </div>
  </div>
  <div id="runALL" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>All-Time Running Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/runleaderchartALL.html' %}
    </div>
   </div>
  </div>
 </div>
 <div id="cyclecharts" class="row tile720" style="padding-top:10px;display:none">
  <div id="cycleWTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>Week-to-Date Cycling Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/cycleleaderchartWTD.html' %}
    </div>
   </div>
  </div>
  <div id="cycleMTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>Month-to-Date Cycling Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/cycleleaderchartMTD.html' %}
    </div>
   </div>
  </div>
  <div id="cycleYTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>Year-to-Date Cycling Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/cycleleaderchartYTD.html' %}
    </div>
   </div>
  </div>
  <div id="cycleALL" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>All-Time Cyling Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/cycleleaderchartALL.html' %}
    </div>
   </div>
  </div>
 </div>
 <div id="hikecharts" class="row tile720" style="padding-top:10px;display:none">
  <div id="hikeWTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>Week-to-Date Hiking Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/hikeleaderchartWTD.html' %}
    </div>
   </div>
  </div>
  <div id="hikeMTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>Month-to-Date Hiking Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/hikeleaderchartMTD.html' %}
    </div>
   </div>
  </div>
  <div id="hikeYTD" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>Year-to-Date Hiking Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/hikeleaderchartYTD.html' %}
    </div>
   </div>
  </div>
  <div id="hikeALL" class="col" style="display:none">
   <div class="row tile720">
    <div class="col">
    <center><h2>All-Time Hiking Leaders</h2></center><hr>
    </div>
   </div>
   <div class="row tile720">
    <div class="col">
    {% include 'charts/hikeleaderchartALL.html' %}
    </div>
   </div>
  </div>
 </div>
</div>
<script src="https://kit.fontawesome.com/0797c9cc41.js"></script>

{% endblock %}

