<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Login to your Account</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        Login with SteemKeychain:
    <input class="form-control mr-sm-2" type="text" placeholder="Username" id="sign_username"><br>
    <center><button id="auth_login" class="btn btn-success btn-lg btn-block">Login</button><br>
    <hr></center>
        Or, login with:<br><br>

    <center>
     <a href="https://beta.xhaust.me/keychain/login/" class="btn btn-primary btn-lg btn-block">SteemConnect</a>
    </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

