{% include 'activities/steemModals.html' %}

  <div class="row">
   <div class="col">
    <center>
     <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-info my-2 my-sm-0" data-toggle="modal" data-target="#payoutModal">
       <i class="fas fa-money-bill-wave main-steem-buttons"></i>
      </button>
     {% if voted > 0 %}
      <button type="button" class="btn btn-success my-2 my-sm-0" data-toggle="modal" data-target="#upvoteModal">
     {% else %}
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#upvoteModal">
     {% endif %}
       <i class="fas fa-arrow-alt-circle-up main-steem-buttons"></i>
      </button>
     {% if voted < 0 %}
      <button type="button" class="btn btn-danger my-2 my-sm-0" data-toggle="modal" data-target="#downvoteModal">
     {% else %}
      <button type="button" class="btn btn-outline-danger my-2 my-sm-0" data-toggle="modal" data-target="#downvoteModal">
     {% endif %}
       <i class="fas fa-arrow-alt-circle-down main-steem-buttons"></i>
      </button>
     {% if request.user.username in commenters %}
      <button type="button" class="btn btn-dark my-2 my-sm-0" data-toggle="modal" data-target="#commentModal">
     {% else %}
      <button type="button" class="btn btn-outline-dark my-2 my-sm-0" data-toggle="modal" data-target="#commentModal">
     {% endif %}
       <i class="fas fa-comment main-steem-buttons"></i>
      </button>
     {% if request.user.username in shares %}
      <button type="button" class="btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#resteemModal">
     {% else %}
      <button type="button" class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#resteemModal">
     {% endif %}
       <i class="fas fa-retweet main-steem-buttons"></i>
      </button>
     </div>
    </center>
   </div>
  </div>
  <div class="row">
   <div class="col">
   <center>
    <div class="btn-group" role="group" aria-label="Basic example">
     <p class="main-steem-values">{{ payout }}</p>
     <p class="main-steem-values">{{ upvotes }}</p>
     <p class="main-steem-values">{{ downvotes }}</p>
     <p class="main-steem-values">{{ replies|length }}</p>
     <p class="main-steem-values">{{ shares|length }}</p>
    </div>
   </center>
  </div>
 </div>
