<div class="modal fade" id="upvoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Upvote</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
                        <center>Select Vote Weight:<br>(Default = 100%)</center>
                        <div id="upvote-slider">
                                <center>{{ upslider }}</center>
                        </div>
<!--                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>-->
                        <div id="weight_info">
                                <center><b id="upweight"></b><b id="upvalue"></b></center>
                        </div>
<input type="hidden" id="upvote_username" name="upcast" value="{{ user.username }}">
<input type="hidden" id="upvote_perm" name="upperm" value="{{ permlink }}">
<input type="hidden" id="upvote_author" name="upauth" value="{{ author }}">
<input type="hidden" id="upvote_weight" name="upweight" value="100">
    <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="upvote" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downvoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Downvote</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
                        <center>Select DownVote Weight:<br>(Default = 100%)</center>
                        <div id="downvote-slider">
                                <center>{{ downslider }}</center>
                        </div>
<!--                        <div id="account_info">
                                <center>{{ VESTS }} SP : VP = {{ VOTINGPOWER }} <br> 100% VOTE = {{ FULLVALUE }} SBD</center>
                        </div>-->
                        <div id="weight_info">
                                <center><b id="downweight"></b><b id="downvalue"></b></center>
                        </div>
<input type="hidden" id="downvote_username" name="downcast" value="{{ user.username }}">
<input type="hidden" id="downvote_perm" name="downperm" value="{{ permlink }}">
<input type="hidden" id="downvote_author" name="downauth" value="{{ author }}">
<input type="hidden" id="downvote_weight" name="downweight" value="100">

    <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="downvote" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><center>Reply to @{{ author }}</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
         <center>Reply to "{{ title }}" <br>by, @{{ author }}</center>
        <hr>
        <input type="hidden" id="comment_author" name="comment_author" value="{{ user.username }}">
        <input type="hidden" id="comment_title" name="comment_title" value="">
        <input type="hidden" id="comment_body" name="comment_body" value="comment body">
        <input type="hidden" id="comment_perm" name="comment_perm" value="xhst-comment-{{ stamp }}">
        <input type="hidden" id="post_pperm" name="post_perm" value="{{ permlink }}">
        <input type="hidden" id="post_author" name="pos_author" value="{{ author }}">
        <input type="hidden" id="act_id" name="activity_id" value="{{ activity.pk }}">

<!--        <input type="text hidden" id="post_json" name="post_json" value="app:'exhaust-beta'">-->
        <div id="commenter">
          {{ commentform }}
         <br>
          {{ commentform.media }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="reply" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>
