{% extends 'activities/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Uploader -->
<div class="container container-fluid home-block" style="min-height:500">
  <!-- Add selection of Manual, File, Sync -->
 <div class="row tile720">
  <div class="col col-sm section-banner-bold" style="padding-top:10px">
   <center>Log a New Activity</center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
  <div class="col-sm">
   <center><button class="btn btn-success btn-lg" id="togglemanual">Manual Entry</button></center>
  </div>
  <div class="col-sm">
   <center><button class="btn btn-success btn-lg" id="togglefile">File Upload</button></center>
  </div>
  <div class="col-sm">
   <center><button class="btn btn-success btn-lg" id="togglesync">Synced Accounts</button></center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px;display:none" id="manualentry">
  <div class="col-sm-4">
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ manualgps|crispy }}<hr>
    <button type="submit" class="btn btn-success">Save Activity</button>
   </form>
  </div>
  <div class="col-sm-8">
   <p>Log a new activity by entering the details manually. Not everyone likes exercising all wrapped up in gadgets -- some prefer to do things old-school. Let us know if there's any details you track that you'd like to punch in here -- we read comments in the newsletters!</p>
   <p>Give your activity a title, add a few photos, and then tell us the deets! The fields on the left are currently:</p>
   <li>Distance in meters</li>
   <li>Duration in seconds</li>
   <p>After submitting, you'll be redirected to a new page where you can add some comments to your activity, or change any of these details you just entered if you need to fix it. You'll also have the option of editing / customizing a STEEM post if you want to make a record of this activity on the blockchain.</p>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px;display:none" id="gpsentry">
  <div class="col-sm-4">
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ filegps|crispy }}<hr>
    <button type="submit" class="btn btn-success">Save Activity</button>
   </form>
  </div>
  <div class="col-sm-8">
   <p>Log a new activity by uploading a GPS tracked activity file. Supported formats are GPX and TCX. Give us a shout in the comments of our daily newsletter if you have a format you'd like supported.</p>
   <p>Give your activity a title, add a few photos if you want, and submit! The site will automagically pull any notes / comments embedded in the file, and a couple stats. You'll be redirected to a new page, where you can edit the details we found, or work on a customized STEEM post if you want to make a record of this activity on the blockchain!</p>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px;display:none" id="acctsync">
  <div class="col-sm-4">
   {% if strava or polarflow %}
    {% if strava %}
    <a href="strava/"><button class="btn btn-success">Add from Strava</button></a><br>
    {% endif %}
    Auto-Sync coming soon! Comment in the newsletter if you have suggestions! 
   {% else %}
   <center>No Synced Accounts Found!<br>Set one up in your dashboard!</center>
   {% endif %}
  </div>
  <div class="col-sm-8">
    <p>Log a new activity by pulling it from your other favorite athletics site! We're currently rolling out alpha-support for syncing with Strava accounts. We're also working on PolarFlow! Lets us know in some newsletter comments if you've got another site you're using, and we'll look into it!</p>
    <p>If you don't see any buttons on the left, that means you have to authorize our app to access your data on the other site! Go to the settings in your Dashboard to set it up!</p>
    <p>Otherwise, hit a button on the left to pull the most recent activity from one of your synced accounts!</p>
    <p>Afterwards, you'll be redirected to a new page where you can add some notes to your activity, or change any of the details if you need. You can also work on a custom STEEM post if you want to make a record of this activity on the blockchain!</p>
  </div>
 </div>
</div>

{% endblock %}
