{% extends 'activities/base.html' %}

{% block content %}

{% load markdownify %}
{% load humanize %}
{% load mathfilters %}
<!-- Article -->
<div class="container container-fluid home-block">
 <div class="row tile720">
  <div class="col-sm section-banner-bold" style="padding-top:10px">
   <div class="row align-items-center">
    <div class="col-sm">
     <center>
      <img height="100" src="{{ account.profile.profile_image }}" style="border-radius:50%">
     </center>
    </div>
    <div class="col-sm" style="font-size:0.3em">
     <center>
      FOLLOWERS: {{ account.get_followers|length }}<br>ACTIVITIES: {{ activities|length }}
     </center>
    </div>
   </div>
  </div>
  <div class="col-sm section-banner-bold" style="padding-top:10px">
   <div class="row">
    <center>@{{ username }}</center>
   </div>
   <div class="row" style="font-size:0.25em">
    {{ account.profile.about }}
   </div>
  </div>
  <div class="col-sm section-banner-bold" style="padding-top:10px;padding-bottom:10px">
   <center>
    {% if following %}
    <a href="#" class="btn btn-success btn-sm btn-block">FOLLOWING!</a><hr>
    {% else %}
    <a href="#" class="btn btn-success btn-sm btn-block">FOLLOW?</a><hr>
    {% endif %}
    <a href="#" class="btn btn-outline-light btn-sm btn-block">MORE</a>
   </center>
  </div>
 </div>
 <div class="row tile720" style="padding-top:10px">
   <div class="col">
  {% for activity in activities %}
  <div class="media" style="padding-right:25px;border-style:solid;border-radius:20px">
   <a href="/activities/{{ activity.pk }}/">
    <img class="mr-3" src="https://steemitimages.com/240x0/https://xhaust.me{{ activity.photo.url }}" alt="image" height="64" style="max-width:128px;border-radius:17px">
   </a>
   <div class="media-body">
    <h5 class="mt-0">
    <a href="/activities/{{ activity.pk }}" style="color:black;font-size:1em">{{ activity.title }}</a> - {{ activity.postdate|naturalday }}<br>
    </h5>
    {{ activity.distance|div:1000 }} km; {{ activity.duration|intdiv:60 }} minutes, {{ activity.rewards }} SBD{% if not activity.posted %}<span>NOT POSTED TO STEEM</span>{% endif %}
   {# activity.comments #}
   </div>
  </div><br>

  {% endfor %}
<script src="https://kit.fontawesome.com/0797c9cc41.js"></script>
   </div>
 </div>
</div>

  
{% endblock %}
